/*레이아웃*/
.section {
    width: 100%;
    padding-bottom: 200px;
}

/* 캘린더 */
.calendarArea {
    width: 100%;
    font-family: 'Pretendard-Regular';
    .react-calendar {
        max-width: 100%;
        width: 100%;
        border: 0;
    }
    .react-calendar,
    .react-calendar *,
    .react-calendar *:before,
    .react-calendar *:after {
        position: relative;
        z-index: 100;
    }
    .react-calendar__month-view__weekdays__weekday {
        padding: 0;
        height: 20px;
        font-size: 10px;
    }
    .react-calendar__month-view__days {
        background-color: #f8f8f9;
    }
    .react-calendar__month-view__days button {
        height: 66px;
        font-size: 15px;
        font-family: 'Pretendard-Regular';
        border-bottom: 1px solid #d5d6d9;
        color: #21242e;
    }
    .react-calendar__month-view__days__day--weekend {
        color: #21242e;
    }
    .react-calendar__month-view__days button.react-calendar__tile--now {
        position: relative;
        color: #fff;
    }
    .react-calendar__month-view__days button.react-calendar__tile--now::after {
        content: '';
        display: block;
        position: absolute;
        z-index: 0;
        top: 18px;
        left: 50%;
        margin-left: -14px;
        width: 28px;
        height: 28px;
        background-color: #21242e !important;
        border-radius: 50%;
    }
    .react-calendar__month-view__days button.react-calendar__tile--now abbr {
        position: relative;
        z-index: 10;
        color: #fff;
    }
    .react-calendar__month-view__days__day--neighboringMonth abbr {
        opacity: 0.3;
    }
    .react-calendar__tile--active {
        background: none;
    }
    .highlight {
        position: relative;

        &::before {
            content: '';
            display: block;
            position: absolute;
            bottom: 10px;
            left: 50%;
            margin-left: -3px;
            width: 6px;
            height: 6px;
            background-color: #c7f860 !important;
            border-radius: 50%;
        }
    }
}

/*----------------- 임시 ---------------*/
/* 헤더임시 */
header .imsi {
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    z-index: 10;
    opacity: 0.5;
    font-size: 12px;
}

/*임시코드*/

input {
    border: 1px solid #ddd;
}
