@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Pretendard-Thin';
    src: url('styles/fonts/Pretendard-Thin.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Light';
    src: url('styles/fonts/Pretendard-Light.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('styles/fonts/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Medium';
    src: url('styles/fonts/Pretendard-Medium.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('styles/fonts/Pretendard-Bold.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Black';
    src: url('styles/fonts/Pretendard-Black.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

html,
body {
    font-family: 'Pretendard-Regular';
}

.MuiInputBase-input {
    width: 100%;
    height: 48px !important;
    padding: 0 14px !important;
    background-color: #f8f8f9 !important;
    border: 0 !important;
}
.MuiFormLabel-root {
    font-size: 14px !important;
}
.MuiFormHelperText-root {
    color: #f44336 !important;
}

.hidden {
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
}

/* 500px 이상인 경우에만 적용될 스타일 */
@media screen and (min-width: 400px) {
    html {
        background-color: rgb(243, 243, 243);
    }
    body {
        background-color: #fff;
        width: 400px;
        height: 100vh;
        margin: 0 auto;
    }
    .section {
        background-color: #fff;
    }
}
